<div class="jumbotron" style="margin-top:50px">
  <h1 class="display-4">Welcome</h1>
  <p><strong>T-HACKS 2.0 ,2019</strong></p>
  <hr class="my-4">
  <h3><strong>Drowsiness Detection System</strong></h3>
  <a class="btn btn-primary btn-lg" href="/welcome" role="button">Lets get started</a>
</div>

<div class="container" style="text-align: center">
 <div class="row">
         <div class="col-lg-12">
              <button class="btn btn-primary"><a href="/team" class="team">Meet Our Team </a></button>
         </div>
 </div>
</div>