<div class="container" style="margin-top: 50px;">
 <div class="row">
     <div class="col-lg-6">
          <div class="card" style="width: 18rem; margin-left:400px">
  <img class="card-img-top" src="images/admin.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><strong>Admin Login</strong> </h5>
    <p class="card-text">Login as admin</p>
    <a href="/adminlogin" class="btn btn-primary">Login</a>
  </div>
</div>
     </div>
       {{!-- <div class="col-lg-6">
          <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/users.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><strong>User Login</strong></h5>
          <p class="card-text">Login as a User</p>
          <a href="/userlogin" class="btn btn-primary">User Login</a>
        </div>
      </div>
    </div> --}}
 </div>
</div>
