<div>
    <h1 style="text-align: center">Login USER</h1>

    <section class="loginform cf">  
    <form name="login" action="index_submit" method="get" accept-charset="utf-8">  
        <ul>  
            <li><label for="usermail">Email   </label>  
            <input type="email" name="usermail" placeholder="yourname@email.com" required size="35"></li>  
            <li><label for="password">Password</label>  
            <input type="password" name="password" placeholder="password" required size="31"></li>  
            <br><button type="btn btn-success">LOGIN</button>
        </ul>  
    </form>  
</section>
</div>