<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="/adminlogin" method="POST">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user">Admin-></i></span>
        <input type="text" class="form-control" placeholder="Username" name="username" size="35" id="textbox">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock">Password</i></span>
          <input type="password" class="form-control" placeholder="Password" name="password" size="35" id="textbox">
        </div>

        <button type="submit" class="float">Login</button>
       </form>
 		</div>
 </div>