{{!-- <div class="container">
   <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4 col-sm-12">
              <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/shlok.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Shlok Bansal</h5>
    <p class="card-text">Btech USICT data science engineer</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
    </div>
    
   <div class="col-lg-4 col-sm-12">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/gaurav.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Btech babu bihari lal college</h5>
    <p class="card-text">kuch ni chutiya hai sala</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
   </div>
    <div class="row" style="margin-top: 20px;">
           <div class="col-lg-6 col-smm-12">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/rishabh.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rishabh Sharma</h5>
    <p class="card-text">Btech USICT Web developer +Django</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
           </div>
           <div class="col-lg-6 col-sm-12">
                <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/vineetjha.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vineet jha</h5>
    <p class="card-text">B.tech USICT ,Data science and machine learning.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
           </div>
    </div>
    
    
       
   </div>
</div> --}}



{{!-- NEWER ONE --}}
{{!-- <div class="container">
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div> --}}
{{!-- last one is container's div closing --}}



<div class="container">
  <h1 class="text-center" style="padding-top: 10px"><strong>BIT_REBELS</strong></h1>
  <h5 class="text-center">Drowsiness Detection System</h5>
<div class="card-group">
  <div class="card">
    <img src="images/vineetjha.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>Vineet Jha</strong></h5>
      <p class="card-text">Data Science and OpenCV</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/jha-vineet69" target="_blank"><img src="images/gitlogo.png" ><span class="padblack">GitHub</span></a>
    </div>
  </div>
  <div class="card">
    <img src="images/gaurav.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>Gaurav Gupta</strong></h5>
      <p class="card-text">ML and OpenCV</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/1999gauravgupta" target="_blank"><img src="images/gitlogo.png" ><span class="padblack">GitHub</span></a>
    </div>
  </div>
  <div class="card">
    <img src="images/rishabh.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>Rishabh Sharma</strong></h5>
      <p class="card-text">Web dev. and Django</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/Rishabhsp98" target="_blank"><img src="images/gitlogo.png" ><span class="padblack">GitHub</span></a>
    </div>
  </div>
  <div class="card">
    <img src="images/shlok.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>Shlok Bansal</strong></h5>
      <p class="card-text">Data Science and ML</p>
    </div>
    <div class="card-footer">
      <a href="https://github.com/shlok2999" target="_blank"><img src="images/gitlogo.png" ><span class="padblack">GitHub</span></a>
    </div>
  </div>
</div>
</div>