<div class="container">
      <div class="row">
            <div class="col-lg-12">
                    
                   <table id="customers">
                          
                          <th>
                                   User ID
                          </th>
                          <th>
                                 Yawn Count
                          </th>
                          <th>
                                 Eye Closing Count
                          </th>
                         {{#each data}}
                         <tr>
                                <td>
                                {{_id}}
                                </td>
                                <td>
                                  {{yc}}
                                
                                </td>
                                <td>
                                       {{ec}}
                                </td>
                         </tr>
                          {{/each}}
                   </table>  
            </div>
      </div>
       <button class="btn btn-primary btn-align" ><a href="/summary" class="team">Summary </a></button>
</div>
